.App{
font-family:'Courier New', Courier, monospace;
text-align: center;
}

.starShip{
display: inline-flex;
justify-content: space;
}


.starCard{
  height: 60px;
  width: 140px;
  display: flex;
  align-items: center;
  background-color: teal;
  color: white;
  margin-left: 10px;
  padding: 20px;
 border-radius: 10px;
}
